<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    {{> header user=user}} <!-- Include the header partial -->
    {{> main}} <!-- Include the main content partial with dynamic body content -->

  </body>
</html>

